[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple-circle {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);

  animation-name: ripple;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}